body {
    background: url(../../common/assets/mobile-bg.jpg);
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

main {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    width: 90vw;
    margin: 70px auto;
    text-align: center;
    border-radius: 20px;
}

h1 {
    color: white;
    font-family: "Averia Bold";
    font-size: 2.5em;
}

.mobile-row {
    display: flex;
    justify-content: center;
    margin: 60px 0px;
    height: 25vh;
}

.charCard {
    width: 50%;
    height: 100%;
    text-align: center;
}

.charCard img {
    height: 100%;
}

.charCard h2 {
    font-family: "Averia bold";
    margin-bottom: 20px;
}

a,
a:visited {
    text-decoration: none;
    transition: 0.2s;
    color: white;
}
a:hover {
    color: #fc2929;
}

.extra {
    margin: 70px auto;
    width: 90vw;
    text-align: left;
}

.extra li {
    font-family: "Averia Regular";
    font-size: 1.5em;
    margin-left: 30px;
}

@media (min-width: 450px) {
    .mobile-row {
        height: 30vh;
    }
}

@media (min-width: 600px) {
    .mobile-row {
        height: 40vh;
    }
}

@media (min-width: 800px) {
    body {
        background: url(../../common/desktop-bg.jpg);
        background-color: black;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        overflow-x: hidden;
    }

    .desktop-row {
        display: flex;
        height: 50vh;
    }

    .mobile-row img {
        height: 80%;
    }

    .mobile-row {
        width: 50%;
        height: 80%;
    }
}

@media (min-width: 1250px) {
    .desktop-row {
        height: 60vh;
    }
}