@font-face {
    font-family: 'Special Elite';
    src: url(../font/SpecialElite-Regular.ttf);
}
@font-face {
    font-family: 'Averia regular';
    src: url(../font/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: 'Averia bold';
    src: url(../font/AveriaSerifLibre-Bold.ttf);
}
