body {
    background: url(./assets/mobile-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    font-size: 2em;
    font-family: "Averia bold";
}

div{
    width: 90vw;
    color: white;
    margin: 70px auto;
}

div a,
div a:visited {
    color: #df0c0c;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

div a:hover {
    color: #fc2929;;
}

div p {
    padding: 10px;
    font-family: "Averia regular";
}

.topic {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    text-align: center;
}

.topic img {
    width: 100%;
}

.synopsis {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    border-radius: 20px;
    padding-top: 20px;
}

.synopsis h2 {
    text-align: center;
}

.desktopSyn {
    display: none;
}

.synopsis p {
    line-height: 25px;
}

.characters {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
}

.characters h2 {
    margin-top: 20px;
}

.row {
    display: flex;
    margin: 50px 0;
    height: 30vh;
}

.charCard {
    width: 50%;
}

.charCard img {
    height: 100%;
}

.characters h3 {
    font-family: "Averia bold";
    margin-bottom: 20px;
}

.characters a,
.characters a:visited {
    color: white;
}

.characters a:hover {
    color: #fc2929;
}