body {
    background: url(../../home/assets/mobile-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

main {
    width: 90vw;
    text-align: center;
    margin: 70px auto;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

main img {
    height: 100%;
    width: 100%;
}

main h1,
main h2 {
    font-family: "Averia bold";
}

main h2:not(:first-of-type){
    margin-top: 20px;
}

main h3 {
    font-family: "Special ELite";
    width: 30%
}

main section {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    text-align: left;
    word-wrap: break-word;
}

main article {
    font-family: "Averia regular";
    width: 70%;
}

.ability-chart article {
    position: relative;
}

.ability-chart article div {
    height: 90%;
    background-color: #df0c0c;
}

.ability-chart article aside {
    height: 100%;
    width: 50%;
    border-right: 3px solid black;
    position: absolute;
    top: 0;
}